body{
    border: 1px solid red;
    width: 800px;
    height: 800px;

}
.header{

    border-bottom: 1px solid red;
    font-size: 40px;
    text-align: center;
    

}
.div--button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;


}

#div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nice{
    border: 1px solid red;

    width: 30px;
    height: 30px;
} 

/* #nice:hover{
    background-color: black; */
/* } */
.rowie{
    display: flex;
    flex-direction: row;
}

.collored{
    background-color: blue;
}